body{
    background-color: #272727;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 16px;
    margin-top: 30px;
}
.banner{
    width: 100%;
    display: flex;
    background-color: #FFCC17;
    color: black;
    border-bottom: 1px solid #272727;
    float: left;
}
.bn{
    width: 25%;
    text-align: center;
}

.bn:hover p{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.mainContent{
    padding-left: 10px;
}
.leftMenu{
    width: 15%;
    background-color: #FFCC17;
    color: black;
    padding-left: 10px;
    border: 1px solid #272727;
}
.content{
    display: flex;
    float: left;
}
.leftMenu a{
    text-decoration: none;
    color: black;
}
.lmPadding{
    padding-top: 10px;
}
.kryptoLogo{
    width: 100%;
    display: flex;
}
.lkWidth{
    width: 25%;
    align-items: center;
    justify-content: center;
    float: left;
}
.skalowanie{
    width: 100px;
    height: 100px;
}
.largeText{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
.logoKrypto .lkWidth img {
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}
.footer{
    clear: both;
    width: 100%;
    text-align: center;
    color: black;
}
a:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: black;
}