body{
    background-color: #272727;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 16px;
    margin-top: 30px;
    /* margin: 0 auto; */
    padding: 0 auto;
}
.banner{
    width: 90vw;
    display: flex;
    background-color: #FFCC17;
    color: black;
    border-bottom: 1px solid #272727;
    float: left;
    border-radius: 10px;
}
.bn{
    width: 25vw;
    text-align: center;
}

.bn:hover p{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.mainContent{
    width: 75vw;
}
.leftMenu{
    width: 15vw;
    background-color: #FFCC17;
    color: black;
    border-radius: 10px;
    border: 1px solid #272727;
}
.content{
    display: flex;
    float: left;
}
.leftMenu a{
    text-decoration: none;
    color: black;
}
.kryptoLogo{
    width: 90vw;
    display: flex;
}
.lkWidth{
    width: 25%;
    align-items: center;
    justify-content: center;
    float: left;
}
.skalowanie{
    width: 100px;
    height: 100px;
}
.largeText{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
.logoKrypto .lkWidth img {
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}
.uklad{
    width: 90vw;
}
.logoKrypto{
    width: 90vw;
}
.footer{
    clear: both;
    width: 90vw;
    text-align: center;
    color: black;
    padding-top: 20px;
}
a:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: black;
}
.grafiki{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.smallImg{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
.displayImg{
    min-height: 350px;
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grafiki .smallImg img {
  transition: transform 0.3s ease;
}
.grafiki .smallImg:hover img {
  transform: scale(1.1);
}
.displayImg {
  width: 75vw;
  min-height: 350px;
  max-height: 300px;
}
.lab{
    /* margin: 10px; */
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}
.lab a{
    color: white;
    text-decoration: none;
}
.lab:hover{
    /* margin: 10px; */
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
.lab a:hover{
    color: black;
    text-decoration: none;
}
#myCanvas{
    justify-content: center;
    align-items: center;
}
.middle{
    text-align: center;
    justify-content: center;
}